body{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background-color: #5b0366;
}

/* Navbar start */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 10%;
  background-color: rgb(185, 204, 220);
}

.bd-brand{
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #5b0366;
  text-decoration: none;
  cursor: pointer;
}

.nav-link{
  list-style: none;
  margin-right: 290px;
}
.nav-link li{
  display: inline-block;
  padding: 0px 25px;
}

.bd-link{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #5b0366;
  text-decoration: none;
}

.bd-link:hover::after{
  content: "";
  display: block;
  border-bottom: 3px solid #5b0366;
  width: 70%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

/* header start */
.container{
  padding: 3rem 10rem;
}

.main{
  width: 100%;
  height: 100vh;
  background: url(/assets/img/bgf.png);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.main-content{
  display: flex;
}

.text{
  padding-top: 12rem;
}

.banner{
  margin-top: -250px;
  margin-left: -50px;
  float: right;
}

.text h1{
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  color: whitesmoke;
  font-weight: 350 !important;
}

.deskripsi1{
  font-family: "Quicksand", sans-serif;
  font-weight: 250;
  font-size: 15px;
  margin-top: 10px;
}

.btn{
  padding: 11px 11%;
  background-color: rgb(142, 98, 199);
  color: whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

.btn:hover{
  background-color: rgb(156, 122, 202);
  color: black;
  transition: 0.5%;
}

/* Content start */
.rectangle{
  height: 300px;
  width: 500px;
  background: url(/assets/img/bg.jpg);
  background-size: cover;
  border-radius: 20px;
  margin-top: 850px;
  margin-left: 150px;
  margin-bottom: 100px;
  position: absolute;
  z-index: -1;
}

.title{
  margin-top: 690px;
  margin-left: 700px;
  color: whitesmoke;
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  position: absolute;
}

.text span{
  font-weight: bold;
}

.deskripsi2{
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}

.btn-join{
  margin-top: 45px;
  font-weight: 500;
  font-size: 15px !important;
}

/* Quotes start */
.quotes h3{
  margin-top: 1180px;
  margin-left: 495px;
  color: whitesmoke;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 500 !important;
  position: absolute;
  z-index: -1;
}

.circle{
  margin-top: 1250px;
  margin-left: 550px;
  height: 150px;
  width: 150px;
  background-image: url("/assets/img/saya.jpeg");
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  z-index: -1
}

.name-title {
  margin-top: 1410px;
  margin-left: 585px;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  z-index: -1;
}

.title-personal {
  margin-left: -4px;
  font-size: 13px;
  font-style: italic;
  color: #bcb6b6;
  position: absolute;
  z-index: -1;
}

/* Footer start */
.footer {
  font-family: "Quicksand", sans-serif;
  color: #bcb6b6;
  margin-top: 750px;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  z-index: -1;
}